*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main{
  min-height: 87vh;
  /* background-color: aqua; */
  padding: 1rem 3rem;

}

.creatBtn :hover{
  background-color: white;
  color: #e3f2fd;
}

body::-webkit-scrollbar {
  display: none;
}
