/* .header{
    width: 100%;
    height: 4rem;
    background-color: #245953;
    color: white;
    padding: .5rem 18rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile_btn{
    top: 7px;
} */